# ------------------
# | Unity Generate |
# ------------------

Temp/
Library/


# -----------------------------------------
# | Visual Studio / MonoDevelop Generated |
# -----------------------------------------

/*.csproj
/*.sln
*.unityproj


# ----------------
# | OS Generated |
# ----------------

.DS_Store
.DS_Store?

